.aboutMe-wrapper{
  font-size: large;
  padding: 10px 5px;
}

.aboutMe-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutMe-title{
  font-size: 1.5rem;
}

.aboutMe-gradPicture{
  width: 80%;
  height: 80%;
  border-radius: 30px;
}

@media (max-width: 500px) {
  .aboutMe-gradPicture{
    width: 100%;
    height: 100%;
  }
}
