.aboutMe-wrapper{
  font-size: large;
  margin: 25px;
  border-radius: 25px;
  box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.9);
}

.aboutMe-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 5vw;
}

.aboutMe-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: black padding-box, linear-gradient(to right, darkblue, darkorchid) border-box;
}

.aboutMe-content{
  color: rgb(113, 113, 113);
  font-size: 1rem;
  text-indent: 2em;
  max-width: 50vw;
}

.aboutMe-title{
  font-size: 3.5rem;
  margin-block: 0px;
  color: #cacaca;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 3px;
  border-style: solid;
  border-image: linear-gradient(to right, #7f00ff, transparent);
  border-image-slice: 1;
}

.aboutMe-gradPicture{
  width: 30vw;
  height: 35vh;
  border-radius: 10px;
}

@media (max-width: 700px) {
  .aboutMe-container{
    flex-direction: column;
  }
  .aboutMe-gradPicture{
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 500px) {
}
