.footer-wrapper{
  background: linear-gradient(to right, black, black,#9146FF  );
  background-color: black;
  height: fit-content;
}

.footer-wrapper *{
  color: aliceblue;
}

.footer-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-img-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer-img-container{
  width: 50px;
  height: 50px;
}

.footer-img{
  width: 100%;
  height: 100%;
}

.footer-title-container{
  padding: 10px;
  font-size: 1rem;
  text-align: center;
}

.footer-title{
  align-content: center;
  font-size: 2rem;
}

.footer-contact-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-contact{
  margin-bottom: 0;
}

.footer-contact-button{
  border: 0;
  background-color: none;
  border-radius: 0.5rem;
  color: gold;
  font-size: 1.6rem;
  height: fit-content;
  padding: 10px;
}

@media (max-width: 430px) {
  .footer-wrapper{
    background: linear-gradient(to bottom, black, #9146FF);
  }
  .footer-container{
    flex-direction: column;
    align-items: center;
  }
  .footer-img-wrapper{
    flex-direction: row;
  }
  .footer-title-container{
    font-size: 1rem;
  }
  .footer-contact-container{
    align-items: center;
  }
}
