.headerBar-container{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  align-items: baseline;
  padding: 1vw;
  }

.headerBar-button{
  border: 0;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  height: fit-content;
  padding: 10px;
  transition: color 0.3s ease;
  white-space: nowrap;
}

/*user hovers over one of the links*/
.headerBar-button:hover{
  cursor: pointer;
  color: #7F00FF;
  transition: transform 0.1s ease-in;
  transform: translateY(5px);
}

.headerBar-button-left-element{
  float: left;
  margin-right: auto;
  font-size: 4rem;
}

#contact-button{
  /*color: black;*/
  transition: background-color 0.3s ease-in-out;
}

#contact-button:hover{
  cursor: pointer;
  background: linear-gradient(to right,#FF10F0 ,#7f00ff);
  background-color: #7F00FF;
  color: black
}

#contact-button-container{
  width: 100px;
  height: 100px;
}

@media (max-width: 860px) {
  .headerBar-container{
    flex-direction: column;
  }
}
