.headerBar-container{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  align-items: baseline;
  padding: 1vw;
  }

.headerBar-button{
  border: 0;
  background-color: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  color: black;
  height: fit-content;
  padding: 10px;
  transition: color 0.3s ease;
}

/*user hovers over one of the links*/
.headerBar-button:hover{
  cursor: pointer;
  color: white;
}

.headerBar-button-left-element{
  float: left;
  margin-right: auto;
  font-size: 4rem;
}

#contact-button{
  color: black;
  transition: background-color 0.3s ease;
}

#contact-button:hover{
  cursor: pointer;
  background-color: aliceblue;
}

#contact-button-container{
  width: 100px;
  height: 100px;
}

@media (max-width: 860px) {
  .headerBar-container{
    flex-direction: column;
  }
}
