.headerBar-container{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  align-items: baseline;
  padding: 1vw;
}

.headerBar-button{
  border: 0;
  border-radius: 0.5rem;
  font-size: 0.6em;
  color: #6a6a6a;
  height: fit-content;
  padding: 10px;
  transition: color 0.3s ease;
}

#contact-button{
  background-color: #9146FF;
  color: black;
  transition: background-color 0.3s ease;
}

#contact-button:hover{
  cursor: pointer;
  background-color: azure;
}

.headerBar-button:hover{
  color: aliceblue;
  background-color: green;
}
