.container{
  display: flex;
  flex-direction: column;
  /*background: linear-gradient(to bottom, #18191A, #9146FF);*/
  background: linear-gradient(to bottom, #9146FF, #FFA500);
  /*background-color: #9146FF;*/
  width: 100%;
  height: 100%;
}



.separator {
  width: 100px; /* Adjust the initial width of the blob */
  height: 100px; /* Adjust the initial height of the blob */
  background-color: #333; /* Background color of the blob (dark color) */
  position: relative;
  border-radius: 50%;
  animation: wobbleAnimation 5s ease-in-out infinite; /* Apply wobble animation */
}

@keyframes wobbleAnimation {
  0%, 100% {
    transform: scale(1);
  }
  25%, 75% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.8);
  }
}



