.stack-wrapper{
  margin: 10px;
  padding: 10px;
  height: calc(100% - 40px);
}

.stack-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .stack-container{
    flex-direction: column;
  }
}

.stack-container > *{
  padding-inline: 20px;
}

.stack-container * {
  font-size: 1.2rem;
}

.stack-img{
  width: 100px;
  height: 100px;
}

.stack-list{
  list-style: none;
  padding-inline-start: 0;
}

.stack-list *{
  color: lightgray;
}

.stack-title{
  font-size: 2.7rem;
  color: #7f00ff;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 3px;
  border-style: solid;
  border-image: linear-gradient(to right, #7f00ff, transparent);
  border-image-slice: 1;

}

.stack-button{
  width: 50px;
  height: 35px;
  padding: 0;
  border: 0;
  border-radius: 3px;
  background: linear-gradient(to right,#FF10F0 ,#7f00ff);
}

.stack-img{
  width: 50px;
  height: 35px;
}
