.techstack-wrapper{
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.9); /* Apply the shadow effect */
  padding: 20px;
  margin: 25px;
  border-radius: 30px;
}

.techstack-container{
  display: flex;
  flex-direction: row;
}

.techstack-title{
  font-size: 3rem;
}

@media (max-width: 620px) {
  .techstack-container{
    flex-direction: column;
  }
}
